################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherAPI/WeatherAPI/obj/Debug/net6.0
/WeatherAPI/WeatherAPI/bin/Debug/net6.0
